header{
    border-bottom: 1px solid var(--color-gray);
    .container{
        height: 8.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        img{
            width: 150px;
            height: 20px;
        }
    }
    nav {
        ul{
            display: flex;
            align-items: center;
            li{
                margin-left: 3.7rem;
                a{
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 15px;
                    color: var(--color-gray);
                    transition: all .3s;
                    &:hover{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}