.s-hero{
    padding-top: 13.7rem;
    padding-bottom: 22.4rem;
    .text{
        h1{
            font-family: 'Satoshi', sans-serif;
            font-size: 5.7rem;
            width: 100%;
            font-weight: 800;
            max-width: 92.6rem;
            height: 7.2rem;
            text-align: center;
            margin:  0 auto;
            margin-bottom: 24px;
           color: var(--color-text-black);
            span{
                color: var(--color-primary);
            }
        }
        p{
            font-family: 'Source Sans Pro', sans-serif;
            width: 100%;
            max-width: 74.1rem;
            font-size: 22px;
            margin: 0 auto;
            text-align: center;
            color: var(--color-gray);
            line-height: 170%;
        }
    }

    .btns{
        display: flex;
        justify-content: center;
         margin-top: 4.8rem;
         margin-bottom: 11.2rem;
    }
}

.s-depoimentos{
    background-color: rgba(19, 25, 37, 0.5);
    padding-top: 14.4rem;
    padding-bottom: 14.4rem;
    .container{
        display: flex;
        justify-content: space-between;
    }
    .left-area{
        width: 100%;
        max-width: 26.8rem;
        h3{
            color: var(--color-primary);
            font-size: 2.4rem;
            margin-bottom: 6.4rem;
            font-family: 'Satoshi', sans-serif;
            font-weight: 800;
        }
        h1{
            font-size: 3rem;
            width: 54.2rem;
            margin-bottom: 2rem;
            color: var(--color-text-black);
        }

        p{
            font-size: 23px;
            width: 55.2rem;
            color: rgba(255, 255, 255, 0.4);
            line-height: 160%;
            

        }
    }

    .right-area{
        padding: 40px 40px;
        background-color: #1A2232;
        border-radius: 8px;
        width: 100%;
        max-width: 42.6rem;
        .img-quots{
            margin-bottom: 2.4rem;
        }
        .depoimento-text{
            font-size: 1.6rem;
            color: var(--color-gray);
            margin-bottom: 2.4rem;
            line-height: 160%;
        }
        .depoimento{
            display: flex;
            align-items: center;
            p{
                font-size: 20px;
                color: var(--color-primary);
                font-weight: bold;
                margin-left: 20px;
            }
        }
    }
}

.s-projetos{
    padding-top: 14.4rem;
    .text{
        margin-bottom: 6.2rem;
        h3{
            font-size: 2.4rem;
            color: var(--color-primary);
            margin-bottom: 6.4rem;
        }

        h1{
            font-size: 3rem;
            color: var(--color-text-white);
            line-height: 140%;
            span{
                color: var(--color-primary);
            }
        }
    }
    .projetos{
        padding-bottom: 7.2rem;
        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            li{ 
                 .card-projects{
                        width: 100%;
                        max-width: 54.4rem;
                        height: 40.8rem;
                        background-color: white;
                        border-radius: 8px;
                        img{
                            width: 100%;
                            border-radius: 8px;
                            transition: all 2s;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                }
            }
        }
    }
   .text-center{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-primary);
        font-size: 1.8rem;
        padding-bottom: 14rem;
        &::after{
            border-right: 0.1em solid var(--color-primary);
            border-bottom: 0.1em solid var(--color-primary);
            content: "";
            display: inline;
            height: 6px;
            margin: 0;
            width: 6px;
            margin-left: 6.6px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

.s-skills{
    padding-top: 14.4rem;
    padding-bottom: 14.4rem;
    .container{
        display: flex;
        justify-content: space-between;
    }
    h3{
        color: var(--color-primary);
        margin-bottom: 5rem;
    }
    .text{
        
        h1{
            font-size: 3rem;
            margin-bottom: 2rem;
            color: var(--color-text-black);
        }
    }
    .accordion{
      width: 100%;
      max-width: 50.4rem;
      .accordion-content{
        border-radius: 8px;
        margin-bottom: 24px;
        background-color:  rgba(19, 25, 37, 0.5);
        color: var(--color-text-white);
        font-size: 1.4rem;
        overflow: hidden;
        &.open{
            padding-bottom: 10px;
        }
        header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 50px;
            padding: 24px 24px;
            cursor: pointer;
            transition: all 0.2s linear;
            &.open{
                min-height: 35px;
            }
            .title{
                font-size: 1.7rem;
                font-weight: 500;
                color: var(--color-text-white);
            }
            i{
                font-size: 1.7rem;
                color: var(--color-primary);
            }
        }
        .description{
            padding: 0px 24px;
            font-size: 1.3rem;
            font-weight: 400;
            color: var(--color-text-white);
            height: 0;
            transition:  all 0.2s linear;
        }
      }
    }

}

footer{
    padding-top: 14.2rem;
    background-color: rgba(19, 25, 37, 0.5);
    .text{
        h1{
            width: 100%;
            max-width: 50rem;
            font-size: 3rem;
            color: var(--color-text-white);
            line-height: 140%;
            margin-bottom: 7.2rem;
        }
    }
   
    .form{
        position: relative;
        padding-bottom: 13rem;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);
        grid-row-gap: 20px;
        .input-group{
            display: flex;
            justify-content: space-between;
            .input-box{
                display: flex;
                flex-direction: column;
                margin-bottom: 2.8rem;
                label{
                    color: var(--color-gray);
                    font-size: 1.8rem;
                    margin-bottom: 1.4rem;
                }
                input{
                    width: 41.6rem;
                    height: 5rem;
                    border-radius: 5px;
                    border: none;
                    padding: 8px 18px;
                    background-color: rgba(255, 255, 255, 0.1);
                    color: rgba(255, 255, 255, 16%);
                    font-size: 1.8rem;
                    font-family: "Inter", sans-serif;
                }
                textarea{
                    width: 207%;
                    background-color: rgba(255, 255, 255, 0.1);
                    border: none;
                    resize: none;
                    color: rgba(255, 255, 255, 16%);
                    font-size: 1.8rem;
                    font-family: "Inter", sans-serif;
                    border-radius: 5px;
                    padding: 16px 16px;
                }
            }
        }
    }
    .btn-primary{
        position: absolute;
        bottom: 70px;
        width: 30%;
        color: black;
        font-size: 1.8rem;
        font-family: "Inter", sans-serif;
    }

    #btnTop{
        cursor: pointer;
        position: fixed;
        bottom: 50px;
        right: 80px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-footer{
        padding: 28px 0px 28px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 1.5rem;
            color: var(--color-gray);
            font-family: "Open Sans", sans-serif;
        }

        ul{
            display: flex;
            li{
                margin-left: 20px;
                a{
                    color: var(--color-gray);
                    font-size: 1.5rem;
                    font-family: "Open Sans", sans-serif;
                    transition: all .3s ease;
                    &:hover{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

}