.s-hero{
    padding-top: 13.7rem;
    padding-bottom: 22.4rem;
    .text{
        h1{
            font-family: 'Satoshi', sans-serif;
            font-size: 5.7rem;
            width: 100%;
            font-weight: 800;
            max-width: 92.6rem;
            height: 7.2rem;
            text-align: center;
            margin:  0 auto;
            margin-bottom: 24px;
            span{
                color: var(--color-primary);
            }
        }
        p{
            font-family: 'Source Sans Pro', sans-serif;
            width: 100%;
            max-width: 74.1rem;
            font-size: 20px;
            margin: 0 auto;
            text-align: center;
            color: #adb5bd;
            line-height: 170%;
        }
    }

    .btns{
        display: flex;
        justify-content: center;
         margin-top: 4.8rem;
         margin-bottom: 11.2rem;
    }
}

.s-depoimentos{
    background: rgba(243, 243, 241, 0.4);
    padding-top: 8rem;
    padding-bottom: 22.4rem;
    .container{
        display: flex;
        justify-content: space-between;
    }
    .left-area{
        width: 100%;
        max-width: 26.8rem;
        h3{
            color: var(--color-primary);
            font-size: 2.4rem;
            margin-bottom: 6.4rem;
            font-family: 'Satoshi', sans-serif;
            font-weight: 800;
        }
        h1{
            font-size: 3rem;
            width: 54.2rem;
            margin-bottom: 2rem
        }

        p{
            font-size: 2rem;
            width: 55.2rem;
            color: var(--color-gray);
            line-height: 160%;

        }
    }

    .right-area{
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(203, 203, 203, 0.08);
        border-radius: 8px;
        width: 100%;
        max-width: 42.6rem;
        img{
            margin-bottom: 2.4rem;
        }
        p{
            font-size: 1.6rem;
            color: var(--color-gray);
            margin-bottom: 2.4rem;
            line-height: 160%;
        }
        .depoimento{
            display: flex;
            align-items: center;
            p{
                font-size: 20px;
                color: var(--color-primary);
                font-weight: bold;
                margin-left: 10px;
            }
        }
    }
}