@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 900px){
    .s-depoimentos{
        .container{
            align-items: center;
            display: flex;
            flex-direction: column;
            .left-area{
                align-items: center;
                max-width: 42.6rem;
                margin-bottom: 5rem;
            }
        }
    }   

    .s-projetos{
        .container{
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            .text{
               flex-direction: column;
               max-width: 42.6rem;
            }
            .projetos{
                ul{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .s-skills{
        .container{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .text{
                max-width: 42.6rem;
                margin-bottom: 5rem;
            }
        }
    }
    footer{
        .container{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .text{
                width: 42.6rem;
            }
            .form{
                width: 65%;
                display: flex;
                flex-direction: column;
                align-items: center; 
                .input-group{
                    .input-box{
                        textarea{
                            width: 100%;
                        }
                    }
                }
                }
                button{
                    width: 60%;
                }
            }

        }
    }


@media screen and (max-width: 767px){
    header{
        nav{
            #btn-mobile{
                display: block;
                background-color: white;
            }
            #menu-mobile{
                display: none;
                .active{
                    display: flex;
                }
            }
        }
    }
   .s-hero{
    padding-bottom: 13.7rem;
    .container{
        .text{
            h1{
                font-size: 3.7rem;
            }
            p{
                font-size: 18px;
            }
        }
        .btns{
            .btn-primary{
                padding: 10px 31px;
            }
            .btn-secondary{
                margin-left: 2rem;
            }
        }
    }
   }
   .s-depoimentos{
    padding-top: 13.7rem;
    padding-bottom: 13.7rem;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .left-area{
            h3{
                text-align: center;
            }
            h1{
                font-size: 2.8rem;
                width: 37.7rem;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 5rem;
            }
            p{
                font-size: 2.2rem;
                width: 28.2rem;
                margin: 0 0 0 5rem;
                margin-bottom: 5rem;
                text-align: center;
            }
        }
    }
   }
   .s-projetos{
    padding-top: 13.7rem;
    padding-bottom: 13.7rem;
    .container{
        .text{
            h3{
                text-align: center;
                margin: 0 auto;
                margin-bottom: 5rem;
            }
            h1{
                font-size: 2.8rem;
                width: 42.8rem;
                margin-bottom: 5rem;
                margin: 0 auto;
                text-align: center;
            }
        }
        .projetos{
            ul{ 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                li{
                    .card-projects{
                        height: 28.8rem;
                    }
                    img{
                        width: 100%;
                        height: 28.8rem;
                    }
                }
            }
        }
    }
   }
   .s-skills{
    width: 100%;
    padding-top: 13.7rem;
    padding-bottom: 13.7rem;
    .container{
        display: flex;
        flex-direction: column;
        .text{
            h3{
                text-align: center;
                margin: 0 auto;
                margin-bottom: 5rem;
            }
            h1{
                text-align: center;
                margin: 0 auto;
                font-size: 2.8rem;
                width: 38.8rem;
                margin-bottom: 5rem;
            }
        }
    }
   }
   footer{
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        .text{
            text-align: center;
            margin: 0 auto;
            margin-bottom: 5rem;
        }
        .form{
            display: flex;
            flex-direction: column;
           .input-group{
            .input-box{
                textarea{
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
           }
           button{
            width: 50%;
           }
        }
        .text-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                margin-bottom: 10px;
            }
        }

        #btnTop{
            bottom: 120px;
        }
   }
}
}

@media screen and (max-width: 520px){

    .s-projetos{
        .container{
            .projetos{
                max-width: 42.6rem;
                width: 100%;
              }
            }
        }

    .s-skills{
        .container{
            .text{
                padding: 15px 0;
            }
            .accordion{
                width: 100%;
                max-width: 42.6rem;
                .description{
                    line-height: 120%;
                    font-size: 1.8rem;
                }
            }
        }
    }
    footer{
        .container{
            display: flex;
            flex-direction: column;
            .text{
                width: 100%;
                max-width: 37.7rem;
            }
            .form{
                width: 100%;
                display: flex;
                flex-direction: column;

                .input-group{
                    max-width: 37.7rem;
                    .input-box{
                        input{
                            max-width: 30.7rem;
                        }
                        textarea{
                            width: 100%;
                            max-width: 30.7rem;
                            height: 20rem;
                            margin-bottom: 5px;
                        }
                    }
                }
                button{
                    width: 60%;
                }
               }
            }
        }
    }

