:root {
  --color-primary: #04C3F0;
  --color-text-black:#FFFFFF;
  --color-text-white:#FFFFFF;
  --color-gray:#A0A1A1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #07090E;
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255, 255, 255, 0.4);
}

h3 {
  font-family: 'Satoshi', sans-serif;
  color: var(--color-primary);
  font-size: 2.4rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 900px) {
  .s-depoimentos .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-depoimentos .container .left-area {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 42.6rem;
    margin-bottom: 5rem;
  }
  .s-projetos .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-projetos .container .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 42.6rem;
  }
  .s-projetos .container .projetos ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-skills .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-skills .container .text {
    max-width: 42.6rem;
    margin-bottom: 5rem;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .text {
    width: 42.6rem;
  }
  footer .container .form {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .form .input-box textarea {
    width: 100%;
  }
  footer .container button {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  header nav #btn-mobile {
    display: block;
    background-color: white;
  }
  header nav #menu-mobile {
    display: none;
  }
  header nav #menu-mobile .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s-hero {
    padding-bottom: 13.7rem;
  }
  .s-hero .container .text h1 {
    font-size: 3.7rem;
  }
  .s-hero .container .text p {
    font-size: 18px;
  }
  .s-hero .container .btns .btn-primary {
    padding: 10px 31px;
  }
  .s-hero .container .btns .btn-secondary {
    margin-left: 2rem;
  }
  .s-depoimentos {
    padding-top: 13.7rem;
    padding-bottom: 13.7rem;
  }
  .s-depoimentos .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-depoimentos .container .left-area h1 {
    font-size: 2.8rem;
    width: 39.8rem;
  }
  .s-depoimentos .container .left-area p {
    font-size: 2.2rem;
    width: 33.2rem;
    margin-bottom: 5rem;
  }
  .s-projetos {
    padding-top: 13.7rem;
    padding-bottom: 13.7rem;
  }
  .s-projetos .container .text h1 {
    font-size: 2.8rem;
    width: 42.8rem;
    margin-bottom: 5rem;
  }
  .s-projetos .container .projetos ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .s-projetos .container .projetos ul li .card-projects {
    height: 28.8rem;
  }
  .s-projetos .container .projetos ul li img {
    width: 100%;
    height: 28.8rem;
  }
  .s-skills {
    padding-top: 13.7rem;
    padding-bottom: 13.7rem;
  }
  .s-skills .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-skills .container .text h1 {
    font-size: 2.8rem;
    width: 38.8rem;
    margin-bottom: 5rem;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .form .input-group .input-box textarea {
    width: 100%;
    margin-bottom: 5px;
  }
  footer .container .form button {
    width: 40%;
  }
  footer .container .text-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .text-footer p {
    margin-bottom: 10px;
  }
  footer .container #btnTop {
    bottom: 179px;
  }
}

@media screen and (max-width: 520px) {
  .s-projetos .container .text {
    max-width: 37.7rem;
    width: 100%;
  }
  .s-projetos .container .projetos {
    max-width: 42.6rem;
    width: 100%;
  }
  .s-skills .container .text {
    max-width: 37.7rem;
    width: 100%;
  }
  .s-skills .container .accordion {
    width: 100%;
    max-width: 42.6rem;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .form .input-box {
    max-width: 43.6rem;
  }
  footer .container .form .input-box textarea {
    width: 115%;
    height: 20rem;
    margin-bottom: 5px;
  }
  footer .container .form button {
    width: 50%;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 117.6rem;
}

.btn-primary {
  background-color: var(--color-primary);
  padding: 16px 32px;
  border-radius: 50px;
  display: inline-block;
}

.btn-primary a {
  color: #07090E;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.btn-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
  position: relative;
}

.btn-secondary::after {
  border-right: 0.1em solid var(--color-primary);
  border-bottom: 0.1em solid var(--color-primary);
  content: "";
  display: inline-block;
  height: 7px;
  vertical-align: bottom;
  width: 7px;
  margin-left: 10.6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-secondary a {
  color: var(--color-primary);
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

header .container {
  height: 8.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo img {
  width: 150px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #btn-mobile {
  display: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header ul li {
  margin-left: 3.7rem;
}

header ul li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
  color: var(--color-gray);
  -webkit-transition: all .3s;
  transition: all .3s;
}

header ul li a:hover {
  color: var(--color-primary);
}

header #btn-mobile {
  display: none;
}

.s-hero {
  padding-top: 13.7rem;
  padding-bottom: 22.4rem;
}

.s-hero .text h1 {
  font-family: 'Satoshi', sans-serif;
  font-size: 5.7rem;
  width: 100%;
  font-weight: 800;
  max-width: 92.6rem;
  height: 7.2rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  color: var(--color-text-black);
}

.s-hero .text h1 span {
  color: var(--color-primary);
}

.s-hero .text p {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  max-width: 74.1rem;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  color: var(--color-gray);
  line-height: 170%;
}

.s-hero .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.8rem;
  margin-bottom: 11.2rem;
}

.s-depoimentos {
  background-color: rgba(19, 25, 37, 0.5);
  padding-top: 14.4rem;
  padding-bottom: 14.4rem;
}

.s-depoimentos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-depoimentos .left-area {
  width: 100%;
  max-width: 26.8rem;
}

.s-depoimentos .left-area h3 {
  color: var(--color-primary);
  font-size: 2.4rem;
  margin-bottom: 6.4rem;
  font-family: 'Satoshi', sans-serif;
  font-weight: 800;
}

.s-depoimentos .left-area h1 {
  font-size: 3rem;
  width: 54.2rem;
  margin-bottom: 2rem;
  color: var(--color-text-black);
}

.s-depoimentos .left-area p {
  font-size: 23px;
  width: 55.2rem;
  color: rgba(255, 255, 255, 0.4);
  line-height: 160%;
}

.s-depoimentos .right-area {
  padding: 40px 40px;
  background-color: #1A2232;
  border-radius: 8px;
  width: 100%;
  max-width: 42.6rem;
}

.s-depoimentos .right-area .img-quots {
  margin-bottom: 2.4rem;
}

.s-depoimentos .right-area .depoimento-text {
  font-size: 1.6rem;
  color: var(--color-gray);
  margin-bottom: 2.4rem;
  line-height: 160%;
}

.s-depoimentos .right-area .depoimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-depoimentos .right-area .depoimento p {
  font-size: 20px;
  color: var(--color-primary);
  font-weight: bold;
  margin-left: 20px;
}

.s-projetos {
  padding-top: 14.4rem;
}

.s-projetos .text {
  margin-bottom: 6.2rem;
}

.s-projetos .text h3 {
  font-size: 2.4rem;
  color: var(--color-primary);
  margin-bottom: 6.4rem;
}

.s-projetos .text h1 {
  font-size: 3rem;
  color: var(--color-text-white);
  line-height: 140%;
}

.s-projetos .text h1 span {
  color: var(--color-primary);
}

.s-projetos .projetos {
  padding-bottom: 7.2rem;
}

.s-projetos .projetos ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.s-projetos .projetos ul li .card-projects {
  width: 100%;
  max-width: 54.4rem;
  height: 40.8rem;
  background-color: white;
  border-radius: 8px;
}

.s-projetos .projetos ul li .card-projects img {
  width: 100%;
  border-radius: 8px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.s-projetos .projetos ul li .card-projects img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.s-projetos .text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-primary);
  font-size: 1.8rem;
  padding-bottom: 14rem;
}

.s-projetos .text-center::after {
  border-right: 0.1em solid var(--color-primary);
  border-bottom: 0.1em solid var(--color-primary);
  content: "";
  display: inline;
  height: 6px;
  margin: 0;
  width: 6px;
  margin-left: 6.6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s-skills {
  padding-top: 14.4rem;
  padding-bottom: 14.4rem;
}

.s-skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-skills h3 {
  color: var(--color-primary);
  margin-bottom: 5rem;
}

.s-skills .text h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--color-text-black);
}

.s-skills .accordion {
  width: 100%;
  max-width: 50.4rem;
}

.s-skills .accordion .accordion-content {
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: rgba(19, 25, 37, 0.5);
  color: var(--color-text-white);
  font-size: 1.4rem;
  overflow: hidden;
}

.s-skills .accordion .accordion-content.open {
  padding-bottom: 10px;
}

.s-skills .accordion .accordion-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50px;
  padding: 24px 24px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.s-skills .accordion .accordion-content header.open {
  min-height: 35px;
}

.s-skills .accordion .accordion-content header .title {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--color-text-white);
}

.s-skills .accordion .accordion-content header i {
  font-size: 1.7rem;
  color: var(--color-primary);
}

.s-skills .accordion .accordion-content .description {
  padding: 0px 24px;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-text-white);
  height: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

footer {
  padding-top: 14.2rem;
  background-color: rgba(19, 25, 37, 0.5);
}

footer .text h1 {
  width: 100%;
  max-width: 50rem;
  font-size: 3rem;
  color: var(--color-text-white);
  line-height: 140%;
  margin-bottom: 7.2rem;
}

footer .form {
  position: relative;
  padding-bottom: 13rem;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
  -ms-grid-rows: (2fr)[2];
      grid-template-rows: repeat(2, 2fr);
  grid-row-gap: 20px;
}

footer .form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .form .input-group .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.8rem;
}

footer .form .input-group .input-box label {
  color: var(--color-gray);
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

footer .form .input-group .input-box input {
  width: 41.6rem;
  height: 5rem;
  border-radius: 5px;
  border: none;
  padding: 8px 18px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
}

footer .form .input-group .input-box textarea {
  width: 207%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: white;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  padding: 16px 16px;
}

footer .btn-primary {
  position: absolute;
  bottom: 70px;
  width: 30%;
  color: black;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
}

footer #btnTop {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 80px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .text-footer {
  padding: 28px 0px 28px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .text-footer p {
  font-size: 1.5rem;
  color: var(--color-gray);
  font-family: "Open Sans", sans-serif;
}

footer .text-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .text-footer ul li {
  margin-left: 20px;
}

footer .text-footer ul li a {
  color: var(--color-gray);
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer .text-footer ul li a:hover {
  color: var(--color-primary);
}
/*# sourceMappingURL=main.css.map */